.text_field {
    -fx-background-color: #FAD0C3;
    -fx-text-fill: #fff;
}
.text_area {
    -fx-background-color: pink;
    -fx-text-fill: pink;
    -fx-font-size: 15px;
}
.search {
    -fx-background-color: #778188;
    -fx-text-fill: pink;
}
.audio {
    -fx-background-color: #778188;
    -fx-text-fill: pink;
}
.addVocab {
    -fx-background-color: #778188;
    -fx-text-fill: pink;
}
.menu-bar {
    -fx-background-color: #778188;
    -fx-background-radius: 5px;
}
.menu-bar .label {
    -fx-text-fill: pink;
}
.menu-item .label {
    -fx-text-fill: #778188;
}
.menu-item {
    -fx-background-color: pink;
}
.menu-item:focused {
    -fx-background-color: #778188;
}
.menu-item:focused .label {
    -fx-text-fill: pink;
}






